
header {
    text-align: center;
    background: #dad5d6;
    color: #333;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}
/* Fonts */

/* Family */
h1 { 
    font-family: 'Julius Sans One', sans-serif;
  }
  
  h2 { /* Contact, Skills, Education, About me, Work Experience */
    font-family: 'Archivo Narrow', sans-serif;
  }
  
  h3 { /* Accountant */
    font-family: 'Open Sans', sans-serif;
  }
  
  .jobPosition span, 
  .projectName span {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .upperCase {
    text-transform: uppercase; 
  }
  
  .smallText, 
  .smallText span, 
  .smallText p, 
  .smallText a {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    white-space: normal;
    word-wrap: break-word;
  }
  .smallTextL {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.4cm;
  }
  /* End Family */
  
  /* Colors */
  h1 { 
    color: #111; 
  }
  
  .leftPanel, 
  .leftPanel a {
    color: #bebebe;
    text-decoration: none;
  }
  
  .leftPanel h2 {
    color: white;
  }
  
  /* End Colors */
  
  /* Sizes */
  h1 { 
    font-weight: 300; 
    font-size: 1.2cm;
    transform:scale(1,1.15); 
    margin-bottom: 0.2cm;
    margin-top: 0.2cm;
    text-transform: uppercase; 
  }
  
  h2 {
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
  }
  
  .leftPanel, 
  .leftPanel a {
    font-size: 0.38cm;
  }
  
  .projectName span, 
  .jobPosition span {
    font-size: 0.37cm;
  }
  
  .smallText, 
  .smallText span, 
  .smallText p, 
  .smallText a {
    font-size: 0.37cm;
  }
  
  .leftPanel .smallText, 
  .leftPanel .smallText, 
  .leftPanel .smallText span, 
  .leftPanel .smallText p, 
  .smallText a {
    font-size: 0.45cm;
  }
  
  .contactIcon {
    width: 0.5cm;
    text-align: center;
  }
  
  p {
    margin-top: 0.05cm;
    margin-bottom: 0.05cm;
  }
  /* End Sizes */
  
  .bolded {
    font-weight: bold;
  }
  
  .white {
    color: white;
  }
  /* End Fonts */
  
  /* Layout */
  body {
    background: rgb(204,204,204); 
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
  }
  
  /* Printing */
  page {
    display: block;
    margin: 0 auto;
    background: white;
    padding: 0;
    height: 100%; /* Ensuring it takes up full height */
    width: 100%;  /* Full width of A4 page */
  }
  
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  
  @page {
    size: A4;
    margin: 1cm; /* Adjusting page margins */
    padding: 0;
    border: none;
  }
  /* End Printing */
  
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000%; /* Ensure it stretches to fill the height */
  }
  
  .leftPanel {
    width: 45%;
    background-color: #3f2b2f;
    padding: 0.7cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Ensure it stretches to fill the height */
  }
  
  .rightPanel {
    width: 65%;
    padding-left: 0.7cm;
    padding-right: 2cm;
    height: 100%; /* Ensure it stretches to fill the height */
  }
  
  .leftPanel img {
    width: 4cm;
    height: 4cm;
    margin-bottom: 0.7cm;
    border-radius: 50%;
    border: 0.15cm solid white;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .leftPanel .details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .bottomLineSeparator {
    border-bottom: 0.05cm solid white;
  }
  
  .yearsOfExperience {
    width: 1.6cm;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .alignleft {
    text-align: left !important;
    width: 1cm;
  }
  
  .alignright {
    text-align: right !important;
    width: 0.6cm;
    margin-right: 0.1cm
  }
  
  .workExperience>ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .workExperience>ul>li {
    position: relative;
    margin: 0;
    padding-bottom: 0.5cm;
    padding-left: 0.5cm;
  }
  
  .workExperience>ul>li:before {
    background-color: #b8abab;
    width: 0.05cm;
    content: '';
    position: absolute;
    top: 0.1cm;
    bottom: -0.2cm; /* change this after border removal */
    left: 0.05cm;
  }
  
  .workExperience>ul>li::after {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23484444' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    left: -0.09cm;
    top: 0;
    width: 0.35cm;
    height: 0.35cm;
  }
  
  .jobPosition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .item {
    padding-bottom: 0.7cm;
    padding-top: 0.7cm;
  }
  
  .item h2{
    margin-top: 0;
  }
  
  .lastParagrafNoMarginBottom {
    margin-bottom: 0;
  }
  
  .workExperience>ul>li ul {
    padding-left: 0.5cm;
    list-style-type: disc;
  }
  /*End Layout*/
  

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#savePdfBtn {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3f2b2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin: 10px auto; /* Add space around the button and center it */
    display: block; /* Make the button block-level to center it */
}

#savePdfBtn:hover {
    background-color: #3f2b2f;
}

#cv-content {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.pdf-skill-category {
  margin-left: -20px; /* Removes any left margin */
  padding-left: 0; /* Removes any left padding */
}